<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @meeting.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @meeting.user %>
</p>

 <!-- link_to 'Edit', edit_meeting_path(@meeting) -->
<%= link_to 'Back', meetings_path %>
